{% extends "base.html" %}
{% block libs_js %}
<script src="code/src/jquery-2.1.1.min.js"></script>
<script src="code/src/nvd3-master/lib/d3.v3.js"></script>
<script src="code/src/nvd3-master/nv.d3.min.js"></script>
<script src='code/src/stupidtable.min.js'>></script>
<script src='code/src/table2CSV.js'>></script>
{% endblock %}
{% block custom_js %} 
    <script type="text/javascript">
    $(document).ready(function(){
        $('.patients').each(function () {
            var $table = $(this);

            var $exportCSV = $('<span class="glyphicon glyphicon-save" aria-hidden="true">');
            $exportCSV.appendTo('div.panel-heading');

            $(function ()  
            { $(".glyphicon-save").tooltip({placement : 'auto', title: "Cliquez pour sauvegarder au format CSV", container: 'body'});  
            });

            $exportCSV.click(function () {
                var csv = $table.table2CSV({
                    header: [{{"'' ,'" + "', '".join(cols_table) + "'"}}],
                    delivery: 'value'
                });
 
        var blob = new Blob([csv], { type: 'text/csv;charset=utf-8;' });
        fichier = 'situation_patients_centres_ebola_{{last_data}}.csv'
        if (navigator.msSaveBlob) { // IE 10+
            navigator.msSaveBlob(blob, fichier);
        } 
        else {
            var link = document.createElement("a");
            if (link.download !== undefined) { // feature detection
                // Browsers that support HTML5 download attribute
                var url = URL.createObjectURL(blob);
                link.setAttribute("href", url);
                link.setAttribute("download", fichier);
                link.style = "visibility:hidden";
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            }
        }
            });

        });

        });
    </script>
{% endblock %}
{% block code_css %}
<link href="code/src/nvd3-master/nv.d3.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class="panel panel-default">
      <div class="panel-heading"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>Situation des patients  dans les centres fonctionnels à la date du <a href="#" onClick ="doExport({type:"json"});"></a></div>
      <table class="table patients table-striped">
         <thead>
            <tr>
              <th></th>
              {% for col in cols_table %}
                <th data-sort="int">{{ col }}</th>
              {% endfor %}
            </tr> 
         </thead>
         <tbody>
            <tr>
               <td>Cas confirmés</td>
               {% for cell in ligne_confirm %}
                <td>{{ cell }}</td>
               {% endfor %}
            </tr>
            <tr>
               <td>Cas suspects</td>
               {% for cell in ligne_susp %}
                <td>{{ cell }}</td>
               {% endfor %}
            </tr>
            <tr>
               <td>Sortis guéris</td>
               {% for cell in ligne_guer %}
                <td>{{ cell }}</td>
               {% endfor %}
            </tr>
            <tr>
               <td>Décédés</td>
               {% for cell in ligne_mort %}
                <td>{{ cell }}</td>
               {% endfor %}
            </tr>
            <tr>
               <td>Total hospitalisés</td>
               {% for cell in ligne_tot %}
                <td>{{ cell }}</td>
               {% endfor %}
            </tr>
      </tbody>
      </table>
      </div>
      <br>
    <div class="btn-group">
      <button type="button" id="centres" class="btn btn-default">Centres</button>
      <button type="button" id="patients" class="btn btn-default">Statuts</button>
    </div>
    <br>
    <br>
    <div id='button'></div>
    <br>
    <div class="alert alert-warning" role="alert"></div>


        <div id='chart'>
           <!-- <h3></h3> -->
            <svg class="chart_cte"></svg>
        </div>
    <script type="text/javascript">
      $(".btn-default").click(function() {
        if ($(this).attr('id') === 'centres') {
          $( "div#button" ).html('<select class="form-control choix_var">{{ centres }}</select>')
        }
        else{
          $( "div#button" ).html('<select class=" form-control choix_var">{{ patients }}</select>')
        };
        $( "div.alert-warning" ).hide("slow");
        $( "svg.chart_cte" ).empty();
        
        type = $(this).attr('id');
        
        $("select").change(function () {

        var val=this.value;
        centre = $(this).val();
        if (type === 'centres') {
          if (centre === "forecariah_cte") {
            $("div.alert-warning" ).text("Le CTE de Forecariah était un centre de transit (CDT) jusqu'au 08/04/2015");
            $("div.alert-warning" ).show("slow");
          }
          else if (centre === "gueckedou_cte") {
            $("div.alert-warning").text("Le CTE de Guéckédou a fermé le 06/04/2015");
            $("div.alert-warning" ).show("slow");
          }
          else if (centre === "total_conf") {
            $("div.alert-warning").html("Le CTE de Guéckédou a fermé le 06/04/2015<br>Le CTE de Forecariah était un centre de transit (CDT) jusqu'au 08/04/2015");
            $("div.alert-warning" ).show("slow");
          }
          else {
            $("div.alert-warning").hide("slow");
          };
        }
        if (type === 'patients') {
          $("div.alert-warning").html("Le CTE de Guéckédou a fermé le 06/04/2015<br>Le CTE de Forecariah était un centre de transit (CDT) jusqu'au 08/04/2015");
          $("div.alert-warning" ).show();
        };
        /*$('h3').html('Situation dans le centre de ' + centre); */

        d3.json('code/data/charts/chart_' + centre + '.json', function(data) {
        nv.addGraph(function() {
        var chart_contrats = nv.models.stackedAreaChart()
                      .margin({right: 100})
                      //We can modify the data accessor functions...
                      .x(function(d) { return d[0] })   
                      //...in case your data is formatted differently.
                      .y(function(d) { return d[1] })   
                      //Tooltips which show all data points. Very nice!
                      .useInteractiveGuideline(true)    
                      //Allow user to choose 'Stacked', 'Stream', 'Expanded' mode.
                      .showControls(true)       
                      .clipEdge(true);

        //Format x-axis labels with custom function.
        chart_contrats.xAxis
            //.ticks(d3.time.periode, 1)
            .tickFormat(function(d) { 
              return d3.time.format('%d/%m/%y')(new Date(d));
        });

        chart_contrats.yAxis
            .tickFormat(d3.format('d'))

        d3.select('#chart svg')
          .datum(data)
          .transition().duration(500)
          .call(chart_contrats);

      //Update the chart when window resizes.
      nv.utils.windowResize(function() { chart_contrats.update() });
      return chart_contrats;

                });      
            });
        });
});
    </script>

</div>
{% endblock %}